/*faz a tela piscar quando a altura da janela é menor que 360 px*/
@media screen and (max-height: 640px) and (max-width: 1000px) {
    body {
        animation: blink .5s infinite;
        }
}

/*faz o cabeçalho piscar colorido*/
@keyframes blink {
  0% {background-color: #9400D3}
  8% {background-color: #4B0082}
  16% {background-color: #0000FF}
  23% {background-color: #00FF00}
  30% {background-color: #FFFF00}
  37% {background-color: #FF7F00}
  45% {background-color: #FF0000}
  51% {background-color: #FF0000}
  59% {background-color: #FF7F00}
  67% {background-color: #FFFF00}
  75% {background-color: #00FF00}
  82% {background-color: #0000FF}
  91% {background-color: #4B0082}
  100% {background-color: #9400D3}
  }

/*cria a animação de girar o mascote da pizzaria*/
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

/*configura o cabeçalho da página onde fica o nome do estabelecimento*/
header.logo {
    position:inherit;
    color: #FFCE00;
    background-color: #B72D25;
    font-family: 'Italianno', cursive;
    font-size: 20vh;
    text-align: center;
    margin-block-start: -0.2em;
    border-bottom: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*configura o tamanho do mascote da esquerda*/
.peepo {
    height:10vh;
}

/*configura o tamanho do mascote da direita e
reflete ele para o outro lado*/
.mirror {
    height: 10vh;
    transform: scaleX(-1);
}

/*faz o mascote girar enquanto o mouse estiver por cima dele*/
.peepo:hover, .mirror:hover {
    animation-name: spin;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0;
    animation-iteration-count: infinite;
    transform: scale(1.2);
}

/*colore o fundo da página*/
body {
    margin: 0;
    background-color: rgba(255, 211, 97, 0.4);
    /*background-image: url("https://i.imgur.com/MEQjCX7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;*/
}

/*define as características da fonte do lema da pizzaria*/
p.subtitle {
    font-family: 'Francois One', sans-serif;
    color: #B72D25;
    -webkit-text-stroke: 0.1px black;
    text-align: center;
    font-size: 5vh;
}

/*define o tamanho das imagens do lema*/
.subimage {
    height: 4vh;
}

/*cria bordas redondas nos cantos das imagens e as sombras*/
.border {
    max-width: 20%;
    margin-left: 5vw;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    box-shadow: 3px 5px 2px black;
    transition: transform .2s;
}

/*margin-left: 17vw; centraliza as imagens das pizzas na página.
antes elas ficavam muito para a esquerda (https://i.imgur.com/CY7RSJI.png).*/
.borderleft {
    max-width: 20%;
    margin-left: 17vw;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    box-shadow: 3px 5px 2px black;
    transition: transform .2s;
}

/*aumenta e colore as sombras de vermelho e
aumenta as imagens em 20% quando passa o mouse por cima*/
.border:hover, .borderleft:hover {
    color: red;
    box-shadow: 5px 7px 2px #AF160D;
    transform: scale(1.2);
}

/*faz as imagens mudarem de linha quando chegarem ao final da box
e centraliza na vertical usando a margem superior*/
.central {
    margin-top: 10vh;
    flex-wrap: wrap;
}

/*configura o rodapé para ficar no final da página*/
footer.fixar-rodape{
    position: relative;
    border-top: 1px solid #333;
    bottom: -10vh;
    text-align: center;
    width: 100vw;
    color: #FFCE00;
    background-color: #AF160D;
    font-size: 1vh;
}

/*diminui o tamanho do mascote*/
.minipeepo {
    height:3vh;
}
